html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

body {
    margin: 0;
    padding: 0;
}
.content-cover {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.2;
    z-index: 100;
}

.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 4rem 1fr / 1fr 2fr;
    grid-template-areas: 
    "header header"
    "projects tasks";
}
.main-header {
    grid-area: header;
    font-size: 24px;
    font-weight: 700;
    padding: 1rem;
    background-color: bisque;
}
.project-content {
    background-color: rgb(230, 227, 227);
    grid-area: projects;
    display: flex;
    flex-direction: column;
}
.project-header, .task-header {
    font-size: 20px;
        font-weight: 700;
    padding: 1rem;
    background-color: rgb(226, 222, 222);
    box-shadow: 0px 2px 5px rgb(78, 78, 78);
}
.add-project-button {
    color: rgb(92, 2, 2);
    transition: 0.2s all;
}
.add-project-button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.project-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2rem;
}
.project-link {
    display: block;
    transition: 0.2s;
}
.project-link:hover {
    cursor: pointer;
    background-color: yellow;
}
.task-content{
    grid-area: tasks;
    display: flex;
    flex-direction: column;
    background-color: rgb(147, 226, 240);
}
.form {
    margin: 0;
    height: 20rem;
    width: 20rem;
    border: 1px solid black;
    background-color: rgb(167, 231, 210);
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.form .button {
    border: 2px solid black;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}
